# Part 1 - Data Preprocessing

In [ ]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
import os
os.getcwd()

'F:\\classes\\Python_learning\\Notebooks\\ANN'

In [3]:
os.chdir("F:\\MY udmey\\Deep-Learning-AZ\\udme\\P16-Artificial-Neural-Networks\\Artificial_Neural_Networks")

In [4]:
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
dataset.shape

(10000, 14)

In [6]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [7]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values

In [8]:
X

array([[619, 'France', 'Female', ..., 1, 1, 101348.88],
       [608, 'Spain', 'Female', ..., 0, 1, 112542.58],
       [502, 'France', 'Female', ..., 1, 0, 113931.57],
       ...,
       [709, 'France', 'Female', ..., 0, 1, 42085.58],
       [772, 'Germany', 'Male', ..., 1, 0, 92888.52],
       [792, 'France', 'Female', ..., 1, 0, 38190.78]], dtype=object)

In [9]:
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

In [10]:
# # Encoding categorical data
# from sklearn.preprocessing import LabelEncoder, OneHotEncoder
# labelencoder_X_1 = LabelEncoder()
# X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
# labelencoder_X_2 = LabelEncoder()
# X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
# onehotencoder = OneHotEncoder(categorical_features = [1])
# X = onehotencoder.fit_transform(X).toarray()
# X = X[:, 1:]

In [11]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [12]:
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])
X[:, 1]

array([0, 2, 0, ..., 0, 1, 0], dtype=object)

In [25]:
X[:, 1][0:10]

array([0., 1., 0., 0., 1., 1., 0., 0., 0., 0.])

In [13]:
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])
X[:, 2]

array([0, 0, 0, ..., 0, 1, 0], dtype=object)

In [14]:
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X

array([[1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [44]:
X[0:3]

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, 0.0000000e+00,
        4.2000000e+01, 2.0000000e+00, 0.0000000e+00, 1.0000000e+00,
        1.0000000e+00, 1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, 0.0000000e+00,
        4.1000000e+01, 1.0000000e+00, 8.3807860e+04, 1.0000000e+00,
        0.0000000e+00, 1.0000000e+00, 1.1254258e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, 0.0000000e+00,
        4.2000000e+01, 8.0000000e+00, 1.5966080e+05, 3.0000000e+00,
        1.0000000e+00, 0.0000000e+00, 1.1393157e+05]])

In [15]:
X = X[:, 1:]
X

array([[0.0000000e+00, 0.0000000e+00, 6.1900000e+02, ..., 1.0000000e+00,
        1.0000000e+00, 1.0134888e+05],
       [0.0000000e+00, 1.0000000e+00, 6.0800000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 1.1254258e+05],
       [0.0000000e+00, 0.0000000e+00, 5.0200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 1.1393157e+05],
       ...,
       [0.0000000e+00, 0.0000000e+00, 7.0900000e+02, ..., 0.0000000e+00,
        1.0000000e+00, 4.2085580e+04],
       [1.0000000e+00, 0.0000000e+00, 7.7200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 9.2888520e+04],
       [0.0000000e+00, 0.0000000e+00, 7.9200000e+02, ..., 1.0000000e+00,
        0.0000000e+00, 3.8190780e+04]])

In [16]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [17]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [18]:
X_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

# Part 2 - Now let's make the ANN!

In [19]:

# Part 2 - Now let's make the ANN!

# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

F:\life\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [20]:

# Initialising the ANN
classifier = Sequential()

In [21]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

WARNING:tensorflow:From F:\life\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [22]:

# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [23]:
classifier.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 6)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 6)                 42
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 7
=================================================================
Total params: 121
Trainable params: 121
Non-trainable params: 0
_________________________________________________________________

In [24]:

# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

WARNING:tensorflow:From F:\life\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.4797 - acc: 0.7959
Epoch 2/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4276 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4210 - acc: 0.8017
Epoch 4/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.4178 - acc: 0.8234
Epoch 5/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.4155 - acc: 0.8275
Epoch 6/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.4128 - acc: 0.8314
Epoch 7/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4122 - acc: 0.8306
Epoch 8/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.4105 - acc: 0.8311
Epoch 9/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4093 - acc: 0.8340
Epoch 10/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4087 - acc: 0.8326
Epoch 11/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4077 - acc: 0.8331
Epoch 12/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4068 - acc: 0.8340
Epoch 13/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4062 - acc: 0.8325
Epoch 14/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4061 - acc: 0.8335
Epoch 15/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4051 - acc: 0.8357
Epoch 16/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4051 - acc: 0.8357
Epoch 17/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.4051 - acc: 0.8346
Epoch 18/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4045 - acc: 0.8357
Epoch 19/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.4046 - acc: 0.8354
Epoch 20/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4045 - acc: 0.8344
Epoch 21/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4039 - acc: 0.8342
Epoch 22/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4035 - acc: 0.8360
Epoch 23/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4036 - acc: 0.8334
Epoch 24/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4032 - acc: 0.8344
Epoch 25/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4027 - acc: 0.8339
Epoch 26/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4029 - acc: 0.8349
Epoch 27/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.4024 - acc: 0.8349
Epoch 28/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4023 - acc: 0.8357
Epoch 29/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4025 - acc: 0.8349
Epoch 30/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4028 - acc: 0.8352
Epoch 31/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.4021 - acc: 0.8349
Epoch 32/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.4013 - acc: 0.8354
Epoch 33/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4024 - acc: 0.8357
Epoch 34/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4017 - acc: 0.8362
Epoch 35/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4014 - acc: 0.8370
Epoch 36/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4016 - acc: 0.8350
Epoch 37/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4018 - acc: 0.8357
Epoch 38/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4017 - acc: 0.8337
Epoch 39/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4012 - acc: 0.8354
Epoch 40/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4012 - acc: 0.8350
Epoch 41/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4012 - acc: 0.8375
Epoch 42/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4012 - acc: 0.8354
Epoch 43/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4011 - acc: 0.8372
Epoch 44/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4011 - acc: 0.8354
Epoch 45/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4013 - acc: 0.8361
Epoch 46/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4014 - acc: 0.8352
Epoch 47/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4013 - acc: 0.8354
Epoch 48/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4007 - acc: 0.8367
Epoch 49/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4008 - acc: 0.8340
Epoch 50/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.4004 - acc: 0.8360
Epoch 51/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4009 - acc: 0.8336
Epoch 52/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4000 - acc: 0.8350
Epoch 53/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.4007 - acc: 0.8369
Epoch 54/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.4006 - acc: 0.8355
Epoch 55/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.4010 - acc: 0.8364
Epoch 56/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.4010 - acc: 0.8357
Epoch 57/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.4002 - acc: 0.8352
Epoch 58/100
8000/8000 [==============================] - 1s 161us/step - loss: 0.4002 - acc: 0.8347
Epoch 59/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.4007 - acc: 0.8336
Epoch 60/100
8000/8000 [==============================] - 1s 178us/step - loss: 0.4008 - acc: 0.8350
Epoch 61/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4002 - acc: 0.8354
Epoch 62/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.4006 - acc: 0.8359
Epoch 63/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4005 - acc: 0.8351
Epoch 64/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.4008 - acc: 0.8347
Epoch 65/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4001 - acc: 0.8360
Epoch 66/100
8000/8000 [==============================] - 1s 167us/step - loss: 0.4007 - acc: 0.8356
Epoch 67/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4006 - acc: 0.8360
Epoch 68/100
8000/8000 [==============================] - 1s 170us/step - loss: 0.4000 - acc: 0.8356
Epoch 69/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.4001 - acc: 0.8349
Epoch 70/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.4000 - acc: 0.8365
Epoch 71/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4006 - acc: 0.8355
Epoch 72/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3997 - acc: 0.8354 1s - los
Epoch 73/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4002 - acc: 0.8359
Epoch 74/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4004 - acc: 0.8360
Epoch 75/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.4006 - acc: 0.8374
Epoch 76/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3999 - acc: 0.8366
Epoch 77/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3999 - acc: 0.8367
Epoch 78/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4001 - acc: 0.8344
Epoch 79/100

8000/8000 [==============================] - 1s 158us/step - loss: 0.4003 - acc: 0.8350
Epoch 80/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.4003 - acc: 0.8352
Epoch 81/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3996 - acc: 0.8346
Epoch 82/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.4003 - acc: 0.8341
Epoch 83/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.4000 - acc: 0.8349
Epoch 84/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4007 - acc: 0.8346
Epoch 85/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3996 - acc: 0.8351
Epoch 86/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.4001 - acc: 0.8357
Epoch 87/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3999 - acc: 0.8346
Epoch 88/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.4004 - acc: 0.8361
Epoch 89/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4002 - acc: 0.8355
Epoch 90/100
8000/8000 [==============================] - 1s 120us/step - loss: 0.4000 - acc: 0.8362
Epoch 91/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4001 - acc: 0.8365
Epoch 92/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4000 - acc: 0.8354
Epoch 93/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3997 - acc: 0.8355
Epoch 94/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3996 - acc: 0.8344
Epoch 95/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3996 - acc: 0.8340
Epoch 96/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.3996 - acc: 0.8362
Epoch 97/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3995 - acc: 0.8346
Epoch 98/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4003 - acc: 0.8352
Epoch 99/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3999 - acc: 0.8345
Epoch 100/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3994 - acc: 0.8362

In [26]:
# Part 3 - Making predictions and evaluating the model

# Predicting the Test set results
y_pred = classifier.predict(X_test)
y_pred

array([[0.22476846],
       [0.38621408],
       [0.18135491],
       ...,
       [0.2029512 ],
       [0.16663614],
       [0.12121338]], dtype=float32)

In [27]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

In [28]:
y_pred[0:10]

array([[False],
       [False],
       [False],
       [False],
       [False],
       [ True],
       [False],
       [False],
       [False],
       [ True]])

# Part 3 Predicting a single new observation

In [ ]:
# Predicting a single new observation
#"""Predict if the customer with the following informations will leave the bank:
#Geography: France
#Credit Score: 600
# Gender: Male
# Age: 40
# Tenure: 3
# Balance: 60000
# Number of Products: 2
# Has Credit Card: Yes
# Is Active Member: Yes
# Estimated Salary: 50000"""

In [30]:
new_prediction_1 = classifier.predict(sc.transform(np.array([[0.0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))
new_prediction_1 = (new_prediction_1 > 0.5)
new_prediction_1

array([[False]])

In [ ]:

# # Making the Confusion Matrix
# from sklearn.metrics import confusion_matrix
# cm = confusion_matrix(y_test, new_prediction_1)

In [ ]:



# Predicting a single new observation
#"""Predict if the customer with the following informations will leave the bank:
#Geography: Ger
#Credit Score: 747
# Gender: Male
# Age: 36
# Tenure: 8
# Balance: 102603.3
# Number of Products: 2
# Has Credit Card: Yes
# Is Active Member: Yes
# Estimated Salary: 182603"""

In [29]:
new_prediction_2 = classifier.predict(sc.transform(np.array([[1.0, 0, 747, 1, 36, 8, 102603, 2, 1, 1, 180693]])))
new_prediction_2 = (new_prediction_2 > 0.5)
new_prediction_2

array([[False]])

In [32]:
new_prediction_3 = classifier.predict(sc.transform(np.array([[0.0, 0, 655, 1, 41, 8, 125562, 1, 0, 0, 164040]])))
new_prediction_3 = (new_prediction_3 > 0.5)
new_prediction_3

array([[False]])

In [33]:
new_prediction_= classifier.predict(sc.transform(np.array([[0.0, 0, 698, 1, 44, 10, 116364.4, 2, 1, 0, 198059.16]])))
new_prediction_ = (new_prediction_3 > 0.5)
new_prediction_3

array([[False]])

In [37]:
new_prediction_5 = classifier.predict(sc.transform(np.array([[0.0, 0,586, 0, 54, 4, 154864.4, 2, 1, 1, 248476.16]])))
new_prediction_5

array([[0.49430588]], dtype=float32)

In [38]:
new_prediction_5 = (new_prediction_5 > 0.5)
new_prediction_5

array([[False]])

In [46]:
new_prediction_6 = classifier.predict(sc.transform(np.array([[0.00,0, 683, 1, 40, 4, 95053.1, 1, 1, 1, 116816.54]])))
new_prediction_6

array([[0.10806476]], dtype=float32)

In [47]:
new_prediction_6 = (new_prediction_5 > 0.5)
new_prediction_6

array([[False]])

In [ ]:

# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [ ]:
cm

In [ ]:
# accuracy =(TN+TP)/(TN+TP+FN+FP)

In [ ]:
TN= 1503
TP= 219
total =2000
acc =(TN+TP)/2000
acc